pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
}
.new-cheat-form input {
  width:100%;
  box-sizing:border-box;
}

.new-cheat-form textarea {
    height: 80px;
    width: 100%;
    box-sizing:border-box;
}
script {
  display: block;
}

.cheat-title {
  /*font-weight: bold;*/
  text-align: center;
  color:white;
  background-color: #1d5c7f
}
.cheat-content {
  margin-top: -15px;
  background-color: #3acfe0
}
.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.submit-as-link {
  background: none!important;
  border: none;
  padding:0!important;
  color: -webkit-link;
  text-decoration: underline;
  /*font:inherit;
  cursor: auto;*/
}

/*------------*/

/*---NEW USER FORM---*/
.new-user form {
  text-align: center;
}

.new-user input[type=text], input[type=password] {
  text-align: center;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.new-user button {
  box-sizing: border-box;
  width: 50%;
}
/*------------*/

/*---NAVBAR---*/
.navbar {
  overflow: hidden;
  background-color: #278c80;
}

.navbar div {

  margin: 0px auto;
  float: left;
  padding: 10px;
  min-height: 23px;
  color: white;
}
.navbar div:hover {
 background-color: #0c4954;
}

.navbar .float-right {
  float: right;
  padding-right: 20px;
}

.navbar #navbar-title {
  float: right;
  font-family: 'Calibri';
  border-left: 2px solid white;
}
.navbar #navbar-title:hover {
  background-color: inherit;
}

.link-as-text a{
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-family: 'Georgia';
}
/*------------*/

/*---ERRORS---*/
.error {
  margin: 20px auto;
  width: 600px;
  padding: 1px 20px 1px 20px;
  color: #f44242;
  background-color: #ffbfbf;
  text-align: center;
}
.error li{
  text-align: center;
}

/*--------------*/
.sidebar {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: start
}
Contact GitHub API Training Shop Blog About
