body {
  background-color: #161616;
  color:white;
  font-family: Helvetica;
}

.sheets-title {
 text-align: center;
 border-bottom: 1px dotted white;
 padding-bottom: 5px;
 font-weight: normal!important;
}

.sheet-title h2 {
  font-weight: normal!important;
}


.sidebar {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: start
}

.sheet-title {
  text-align: center;
}

.cheat-content {
  margin-top: -10px!important;
}

.new-sheet-form input {
  width:100%;
  box-sizing:border-box;
  background-color: black;
  text-align: center;
  padding: 12px 20px;
  border: none;
}

.new-cheat-form input {
  width:100%;
  box-sizing:border-box;
  background-color: #161616;
  border: 0.5px solid grey;
}

.new-cheat-form textarea {
  height: 80px;
  width: 100%;
  box-sizing:border-box;
  background-color: black;
  border: none;
  resize: none;
}

.new-cheat-form h2 {
  text-align: center;
  margin-bottom: -10px;
  font-weight: normal!important;
}

.cheat-title {
  text-align: center;
  color:white;
  background-color: none;
}

.cheat-content {
  margin-top: -15px;
  background-color: #3acfe0
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

th {
  text-align: left;
}

.submit-as-link {
  background: grey!important;
  border: none!important;
  padding: 0!important;
  color: black;
  text-decoration: none;
  font:inherit;
  cursor: auto;
}

/*---------------------------*/


/*------NEW USER FORM------*/
.new-user form {
  text-align: center;
}

.new-user input[type=text], input[type=password] {
  background-color: black;
  text-align: center;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

.new-user button {
  background-color: grey;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  border: none;
}

.new-user button:hover {
  background-color: black;
}

/*---------------------------*/


/*---NAVBAR---*/
.navbar {
  overflow: hidden;
  background-color: #278c80;
}

.navbar div {

  margin: 0px auto;
  float: left;
  padding: 10px;
  min-height: 23px;
  color: white;
}
.navbar div:hover {
 background-color: #0c4954;
}

.navbar .float-right {
  float: right;
  padding-right: 20px;
}

.navbar #navbar-title {
  float: right;
  border-left: 2px solid #0c4954;
}

.navbar #navbar-title:hover {
  background-color: inherit;
}

.link-as-text a{
  vertical-align: middle;
  text-decoration: none;
  color: white;
}
/*---------------------------*/


/*------ERRORS------*/
.error {
  margin: 20px auto;
  width: 600px;
  padding: 1px 20px 1px 20px;
  color: #f44242;
  background-color: #ffbfbf;
  text-align: center;
}
.error li{
  text-align: center;
}

/*---------------------------*/


/*---------OLD CSS---------*/
/*pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  width: 650px!ie7;
  padding-bottom: 20px!ie7;
  max-height: 600px;
  margin-top: -15px;
  border: none!important;
}*/
