<div class="new-sheet-form">
  <form action="/sheets/new" method="post">
    <input type="text" name="sheet[name]" placeholder="Sheet Name" required><br>
    <input class="submit-as-link" type="submit" value="Create">
  </form>
</div>
