<div class="container new-user">
  <form action="/user" method="post">
    <!-- <br><label>Username</label> -->
    <input type="text" placeholder="Username" name="user[username]" required>

    <!-- <br><label>Email</label> -->
    <input type="text" placeholder="Email" name="user[email]" required>

    <!-- <br><label>Password</label> -->
    <input type="password" placeholder="Password" name="user[password]" required>

    <div class="link-as-text">
      <button type="submit" class="register-button">Register</button>
    </div>
  </form>
</div>
