<div class="container">

  <%= erb :'sheets/_new_sheet_form' %>

  <h1 class="sheets-title">Your Sheets</h1>

  <% @user.sheets.all.each do |sheet| %>
    <div class="sheet-title link-as-text">
      <h2><a href="/sheets/<%= sheet.id %>/cheats"><%= sheet.name %></a><h2>
    </div>
  <% end %>

</div>
