<div class="container">

  <% sheet.cheats.all.each do |cheat| %>
    <div class="cheat-title"><p><%= cheat.title %><p></div>
    <pre class="prettyprint cheat-content"><%= cheat.content.gsub("<","&lt;") %></pre>
  <% end %>

  <% if logged_in? && creator? %>
    <%= erb :'/cheats/_new_cheat_form' %>
  <% end %>

</div>
